body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.splash {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-container {
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 36px;
}
#start-container {
    display:none;
}

#start-button {
    color: white;
    margin: auto;
}

#loading-image {
    margin: auto;
}

#portal {
   height: 100%;
   width: 100%;
   display: flex;
   top:0;
   position:absolute;
}

.portal-button {
    font-size: 52px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 50%;
    color: black;
}

#gaijin-button {
    background-color: #00ff00;
}
#gaijin-button:hover {
    background-color: #00dd00;
}

#angel-button {
    background-color: #00ffff;
}

#angel-button:hover {
    background-color: #00dddd;
}

#game-ui {

    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#gaijin-ui {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    padding: 0;
}

#angel-ui {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    padding: 0;
}

#intro {
    display:flex;
    flex-direction:column;
    top:0;
    position:absolute;
    height:100%;
    width:100%;
    background-color:black;
}

#intro-header {
    font-size:3em;
    color:white;
}

#intro-info {
    color:white;
}

#intro div {
    font-family: 'VT323', monospace;
    margin:auto;
}

#intro-content {
    color:white;
    font-family:monospace;
    margin:auto;
    min-width:500px;
    height:300px;
    max-width:500px;
}

#intro-content p {
    text-align:left;
    max-width:500px;
}

.angel-input {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 40%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#angel-input {
    border:2px solid white;
}


#angel-console {
    height:100%;
        border:2px solid white;
}

.angel-chat{
    height:70%;
}

.angel-search{
    height:30%;

}

.console-output {
    height: 50%;
    background: black none repeat scroll 0% 0%;
    color:white;
    border:1px solid white;
    font-family:'VT323', monospace;
    font-size:1.5em;
    padding: 3px;
    padding-left:6px;

}

.comm-box {
    background-color: black;
    border: 1px solid white;
    height: 100%;
    color: white;
    font-size: 16px;
}

.comm-wingman {
    background-color: black;
    height: 100%;
}

.comm-form {
    height:20%;
}

.comm-input {
    background-color:black;
    color:white;
    font-family:'VT323', monospace;
    font-size:1.5em;
    height: 100%;
    width: 100%;
    padding:3px;
    padding-left:6px;

}


.comm-input:focus {
    outline:none;
}

.comm-output {
    border: 1px solid white;
    color: white;
    font-family:'VT323', monospace;
    font-size:1.5em;
    height: 80%;
    overflow-y: scroll;
}

#angel-console-form {
    height:20%;
    height:50%;
}

.dg.ac {
    z-index: 999 !important;
}
