body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.splash {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-container {
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 36px;
}
#start-container {
    display:none;
}

#start-button {
    color: white;
    margin: auto;
}

#loading-image {
    margin: auto;
}


#game-ui {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}
#angel-ui {
    position: absolute;
    bottom: 50px;
}
.angel-input {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 40%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


#gaijin-box {
    width: 70%;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
    height: 15%;
    margin-left:30%;
}

#wingman {
    width:30%;
    height:15%;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
}

#gaijin-input {
    width:100%;
    position:relative;
    height:30%;
    border: 1px solid white;
    background-color:black;
    color:white;
    font-family:sans-serif;
    font-size:1.5em;
}

#gaijin-output {
    width:100%;
    position:relative;
    height:70%;
    border: 1px solid white;
    color: white;
}
