body {
    margin: 0px;
    background-color: #000000;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.splash {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-container {
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 36px;
}
#start-container {
    display:none;
}

#start-button {
    color: white;
    margin: auto;
}

#loading-image {
    margin: auto;
}

#portal {
   height: 100%;
   width: 100%;
   display: flex;
}

.portal-button {
    font-size: 52px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 50%;
    color: black;
}

#gaijin-button {
    background-color: #00ff00;
}
#gaijin-button:hover {
    background-color: #00dd00;
}

#angel-button {
    background-color: #00ffff;
}

#angel-button:hover {
    background-color: #00dddd;
}

#game-ui {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}
.angel-input {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 40%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#angel-console {
    background-color: rgba(0, 0, 0, 0.8);
    height: 65%;
    left: 5%;
    position: absolute;
    top: 5%;
    width: 90%
}


.comm-box {
    width: 70%;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
    height: 15%;
    margin-left:30%;
}

.comm-wingman {
    width:30%;
    height:15%;
    background-color: black;
    border: 1px solid white;
    position: absolute;
    bottom: 0px;
}

.comm-form {
    height:20%;
}

.comm-input {
    width:100%;
    height:100%;
    position:relative;
    border: 1px solid white;
    background-color:black;
    color:white;
    font-family:monospace;
    font-size:1.5em;
}

.comm-input:focus {
    outline:none;
}

.comm-output {
    width:100%;
    position:relative;
    height:80%;
    border: 1px solid white;
    color: white;
    font-family:monospace;
    font-size:1.5em;
}

#angel-console-form {
    position: absolute;
    bottom: 0;
    width: 100%;
}
